/Circle.class
/CollectionWithForeach.class
/Month.class
/NewString.class
/Rectangle.class
/Shape.class
/TestCollection.class
/TestComparable.class
/TestEnumMap$Month.class
/TestEnumMap.class
/TestEnumSet.class
/TestIterator.class
/TestListIterator.class
/TestMap.class
/TestPriorityQueue.class
/TestQueue.class
/TestSet.class
/TestShapesArrayList.class
/Triangle.class
