/Base.class
/Base1.class
/BaseClass.class
/Circle.class
/Comp.class
/Count.class
/Downcasting.class
/ImportStatic.class
/InstanceInitializer.class
/IntNum.class
/LongNum.class
/Name.class
/NotOverriding.class
/Other.class
/PackageImport.class
/ParameterPass.class
/Point.class
/PolyConstructor.class
/Rectangle.class
/Rectangle2.class
/ReturnedThis.class
/Shape.class
/Sub1.class
/SubClass.class
/TestClone.class
/TestEquals.class
/Triangle.class
/UnmaskField.class
/VariousArgs.class
